<footer class="p-2 text-center text-sm font-quicksand">

    <p class="mb-1">&copy; AB's Thoughts | 2022</p>
    
    
    
    <div class="font-sans underline flex justify-center gap-2">
        <a href="/blogs/page_1">Archive</a>
    </div>


</footer>